<% include ../partials/header %>
<div class = "container">
    <h1 class="display-3">Midterm Examp</h1>
    <div class="jumbotron">
            <h1 class="display-3">Mobile Phones</h1>
        <p class="lead">By Tawinee Srikarn 6030211030 </p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Let's get stasted</a>
        </p>
    </div>
    
    </div>
    <% include ../partials/footer %>